<% title @question.page_title || @question.title %>
<% meta_description @question.meta_description %>
<% meta_keywords @question.meta_keywords %>

<h1><%= @question.title %></h1>
<%= image_tag @question.image.url, alt: @question.title if @question.image.present? %>
<%= @question.description.html_safe %>

<h2><%= @question.pros_title %></h2>
<ul>
  <% @question.pros.each do |pro| %>
    <li>
      <h3><%= pro.title %></h3>
      <p><%= pro.description.html_safe %></p>
    </li>
  <% end %>
</ul>

<h2><%= @question.cons_title %></h2>
<ul>
  <% @question.cons.each do |con| %>
    <li>
      <h3><%= con.title %></h3>
      <p><%= con.description.html_safe %></p>
    </li>
  <% end %>
</ul>
