<!DOCTYPE html>
<html>
<head>
  <title>Polemize</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="polemize">

<% if current_user %>
  Вы вошли как <%= current_user.name %>
  <%= image_tag current_user.image %>
  <%= link_to 'выход', signout_path, target: '_self' %>
<% else %>
  Войти через
  <%= link_to 'Twitter', '/auth/twitter', target: '_self' %>
  <%= link_to 'Vkontakte', '/auth/vkontakte', target: '_self' %>
<% end %>

<!-- Static content of Ruby on Rails -->
<div ng-hide="true" ng-cloak><%= yield %></div>

<!-- Dynamic content of AngularJS -->
<div class="ui-view-container">
  <div ui-view></div>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
