<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="description" content="<%= meta_description %>">
  <meta name="keywords" content="<%= meta_keywords %>">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="polemize" layout="row">

<!-- Static content of Ruby on Rails -->
<div ng-hide="true" ng-cloak class="scroll"><%= yield %></div>

<!-- Dynamic content of AngularJS -->
<div layout="column" layout-fill>
  <%= render 'layouts/toolbar' %>

  <section layout="row" flex>
    <%= render 'layouts/sidebar' %>
    <md-content flex md-scroll-y>
      <div ui-view></div>
    </md-content>
  </section>
</div>

<%= javascript_include_tag 'application' %>
<%= render 'layouts/counters' %>

</body>
</html>
